@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #144c7d;
  --secondary: #f03449;
}

.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SUSE", sans-serif;
}

.gradient_heading {
  font-weight: 700;
  letter-spacing: -0.04em;
  background: linear-gradient(137.59deg, #555 20%, #000 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
